.working-card-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.5rem 0;
}
.working-card-right-heading {
    width: 33.9375rem; /* 543px / 16px = 33.9375rem */
    color: rgba(0, 0, 0, 0.80);
    font-family: 'Inter', sans-serif; /* Assuming 'Inter' is a web-safe font, you may need to include a fallback font */
    font-size: 2rem; /* 32px / 16px = 2rem */
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% / 100 = 1.5 */
}
.working-card-right-text{
    width: 40.875rem; /* 654px / 16px = 40.875rem */
    height: 9.8125rem; /* 157px / 16px = 9.8125rem */
    color: #6A6A6A;
    font-family: 'Inter', sans-serif; /* Assuming 'Inter' is a web-safe font, you may need to include a fallback font */
    font-size: 1.5rem; /* 24px / 16px = 1.5rem */
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% / 100 = 1.5 */
}
.working-card-left{
    padding-right:8rem;
}